body {
  /* background-color: hsl(180deg 8% 97%); */
}

#header {
  height: 60px;
  /* background-color: white; */
  /* box-shadow: 0px 2px 4px #d2d2d2; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 75px;
  padding-right: 75px;
}

#icon {
  height: 35px;
}

#body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Helvetica Neue";
  padding-top: 55px;
}

#title {
  font-size: 36px;
  font-weight: 600;
  color: #2d2d2d;
  text-align: center;
}

#stackoverflow {
  color: #f48225;
}

#subtitle {
  font-size: 16px;
  font-weight: 400;
  color: #555;
  text-align: center;
  width: 400px;
  padding-top: 20px;
}

#buttons {
  padding-top: 30px;
  display: flex;
  flex-direction: row;
}

#demo {
  width: 600px;
  margin-top: 50px;
  border-radius: 9px;
  box-shadow: 0px 2px 4px #868686;
}
